@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;;
}
a{
    text-decoration: none;
}


/* ===== Cores ===== */
:root{
    scroll-behavior: smooth;
    --body-color: #E4E9F7;
    --nav-color: #2C8080;
    --cor-primaria: #2C8080;
    --cor-primaria-hover: #007070;
    --cor-fundo: #FFF ;
    --nav-text-color: #FFF;
    --side-nav: #010718;
    --text-color: #000;
    --title-color: #000;
    --icon-color: #2C8080;
}

body{
    height: 1000vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color: #18191A;
    --nav-color: #242526;
    --cor-primaria: #008e8e;
    --cor-primaria-hover: #002323;
    --cor-fundo: #242526;
    --nav-text-color: #CCC;
    --side-nav: #242526;
    --text-color: #ccc;
    --title-color: #FFF;
    --icon-color: #57ffff;
}

/*--------------------------------------------------------------
# Botao voltar para o top
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--cor-primaria);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: var(--cor-primaria-hover);
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav{
    border: 1px solid #393838;

}

nav .nav-bar{
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .abrirMenu{
    color: var(--nav-text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--nav-text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

.nav-bar .nav-links{
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li{
    margin: 0 5px;
    list-style: none;
}

.nav-links li a{
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--nav-text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--nav-text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.nav-bar .darkLight{
    display: flex;
    align-items: center;
}

.darkLight .dark-light{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i{
    position: absolute;
    color: var(--nav-text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun{
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun{
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon{
    opacity: 0;
    pointer-events: none;
}

/*--------------------------------------------------------------
# banner Section
--------------------------------------------------------------*/
#banner {
    width: 100%;
    height: 60vh;
    background: url("../img/peixe-banner.jpg") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 0;
    margin-bottom: -120px;
}
#banner:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
  #banner .container {
    z-index: 2;
  }
  #banner h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  #banner h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
  }
  #banner .saiba-mais-icon {
    font-size: 24px;
    background: var(--cor-primaria);
    padding: 14px;
    color: #fff;
    border-radius: 50px;
    position: relative;
    z-index: 5;
    box-shadow: 10px 2px 15px rgba(0, 0, 0, 0.1);
  }
  #banner .btn-saiba-mais {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    transition: 0.5s;
    margin-left: -10px;
    padding: 8px 26px 8px 26px;
    color: #fff;
    background: var(--cor-primaria);
    border-radius: 0 50px 50px 0;
    position: relative;
    z-index: 4;
  }
  #banner .btn-saiba-mais:hover {
    background: var(--cor-primaria-hover);
  }

/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.cards {
  padding: 0 0 30px 0;
  position: relative;
  z-index: 3;
}
.cards .content {
  padding: 30px;
  background: var(--cor-primaria);
  border-radius: 4px;
  color: #fff;
}
.cards .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.cards .content p {
  margin-bottom: 30px;
}
.cards .content .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}
.cards .content .more-btn i {
  font-size: 14px;
}
.cards .content .more-btn:hover {
  color: var(--cor-primaria);
  background: #fff;
}
.cards .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: var(--cor-fundo);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}
.cards .icon-boxes .icon-box i {
  font-size: 40px;
  color: var(--icon-color);
  margin-bottom: 30px;
}
.cards .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
  color: var(--title-color);
}
.cards .icon-boxes .icon-box p {
  font-size: 15px;
  color: var(--text-color);
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}
.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: var(--title-color);
  text-transform: uppercase;
}


.noticia {
  margin-top: 30px;
}

.noticias .content {
  background-color: var(--cor-fundo);
  border-radius: 30px 0 0 30px;
  padding: 30px;
  height: 100%;
}
.noticias h3 {
  font-size: 14px;
  font-weight: 700;
  color: var(--cor-primaria);
  text-transform: uppercase;
}
.noticias h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--title-color);
}
.noticias p {
  margin: 15px 0 30px 0;
  line-height: 24px;
  color: var(--text-color);
}
.noticias img{
  border-radius: 0 30px 30px 0;
}
.noticias .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--cor-primaria);
  box-shadow: 0px 5px 25px rgba(65, 241, 153, 0.3);
}
.noticias .btn-read-more span {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.noticias .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.noticias .btn-read-more:hover i {
  transform: translateX(5px);
}

@media (min-width: 1024px) {
  #banner {
    background-attachment: fixed;
  }
}
@media (max-width: 1024px), (max-height: 768px) {
  #banner {
    margin-bottom: -150px;
    height: 80vh;
  }
}
@media (max-width: 768px) {
  nav .nav-bar .abrirMenu{
    display: block;
  }

  .menu{
      position: fixed;
      height: 100%;
      width: 320px;
      left: -100%;
      top: 0;
      padding: 20px;
      background-color: var(--side-nav);
      z-index: 100;
      transition: all 0.4s ease;
  }

  nav.active .menu{
      left: -0%;
  }

  nav.active .nav-bar .navLogo a{
      opacity: 0;
      transition: all 0.3s ease;
  }

  .menu .logo-toggle{
      display: block;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo-toggle .fecharMenu{
      color: var(--nav-text-color);
      font-size: 24px;
      cursor: pointer;
  }

  .nav-bar .nav-links{
      flex-direction: column;
      padding-top: 30px;
  }

  .nav-links li a{
      display: block;
      margin-top: 20px;
  }

  .noticias .content{
    border-radius: 0px;
  }

  .noticias img{
    border-radius: 0px;
  }
  #banner {
    height: 80vh;
  }
  #banner h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #banner h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 640px) {
  #banner {
    height: 120vh;
  }
}